.home {
  @extend %cover;
  @extend %center;

  overflow: hidden;
  background: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;

  &:before,
  &:after {
    content: '';
    height: 24rem;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &:before {
    top: 0;
    background: transparent linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
  }

  &:after {
    bottom: 0;
    background: transparent linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
  }
}

.home__wrapper {

}

.home__titles {
 @extend %vertical-titles;
}

.home__titles__label {
  @extend %vertical-titles__label;
}

.home__titles__title {
  @extend %vertical-titles__title;
}

.home__gallery {
  @extend %cover;
  display: none;
}

.home__gallery__media {
  position: absolute;
}

.home__gallery__media__image {

}

.home__link {
  @extend %description-14;
  width: 28.8rem;
  height: 6rem;
  position: absolute;
  z-index: 2;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @include media('<phone') {
    bottom: 7.5rem;
    width: 55rem;
    height: 13.7rem;
  }
}

.home__link__icon {
  @extend %cover;
}
